#father {
  width: 600px;
  height: 500px;
  background-color: rgb(226, 117, 184);
  position: relative;
}

#box {
  width: 100px;
  height: 100px;
  position: absolute;
  background-size: auto;
}

img {
  width: 100%;
  height: 100%;
  cursor: move;
}
#scale {
  width: 10px;
  height: 10px;
  overflow: hidden;
  cursor: se-resize;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: rgb(122, 191, 238);
}
